body, html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    display: flex;
    justify-content: center;
    background-color: #c0def1;
    padding: 1em 0;
}

.cod-box {
    background-color: #c0def1;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.cod-box h1 {
    margin: 0;
    font-size: 1.5em;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.payment-instructions {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.payment-instructions h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

.payment-instructions p {
    font-size: 1em;
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

button {
    background-color: #55aae2;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #3ca5ea;
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #f8f8f8;
    width: 100%;
    box-sizing: border-box;
}
